@model IEnumerable<LanchesMac.Models.Lanches>
@*  <div> 
    Definido na controller(ViewData permite a gente recuperar dados da controller e colocar direto na view) 
    @ViewData["Titulo"]

    <h2>@ViewData["Data"]</h2>
    </div>
    <hr />
    <h3>
        @ViewBag.Total @ViewBag.TotalLanches
    </h3>
    <hr />
    @if (TempData.ContainsKey("Nome"))
    {
        <h3>@TempData["Nome"];</h3>
    }


    @{
        //Permite definir um layout para cada view
        Layout = null;
    }
*@

@foreach (var lanche in Model)
{
    <div>
        <h4>@lanche.Nome</h4>
        <p><img src="@lanche.ImagemURL" width="500" height="300" alt="Alternate Text" /></p>
        <h3>Preço: @lanche.Preco.ToString("c")</h3>
    </div>
}